.sidebar{
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    color: black;
    width: 72px;
    padding: 5px;
    background-color: white;
    z-index: 101;
}
.sidebar-icons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    margin-top: 16px;
}
.sidebar-icons-container:hover{
    background-color: #f0eff3;
    cursor: pointer;
}
.sidebar-icons{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 25px;
}
.icons-details{
    display: flex;
    font-size: 10px;
    text-align: center;
    justify-content: center;
}
